html,
body,
#root {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial;
}

.loader  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    /*background-color: transparent;*/
    /*border: 10px solid red;*/
}

.link {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100vw;*/
    /*height: 100vh;*/
    /*overflow: auto;*/
    z-index: 500;
    color: white
}

